* {
	margin: 0; 
	padding: 0;
}

body {
	background:url('http://www.ddrieck.com/images/background.jpg') no-repeat center center fixed;
	background-color: gray;
	background-size: cover;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: arial, verdana, tahoma;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	background-image:url('http://www.ddrieck.com/images/background.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	filter: blur(18px);
	-webkit-filter: blur(9px);
	filter: url('blur.svg#blur');
}

.title h1 {
	position: absolute;
	top: 10%;
	left: 100px;
	font-size: 5em;
	color: white;
	font-family: arial, verdana, sans-serif;
	}

/* Text column spacing */
.left {
    float: left;
    width: 300px;
	padding-right: 40px;
}

.right {
    float: right;
    width: 200px;
}

.middle {
	width: 50%;
   /*padding: 0px 230px 5px 230px;
    margin: 0px;*/
}
	
/* Content styles. Hidden and actual.*/	
#content {
	position: absolute;
	top: 40%;
	left: 15%;
	width: 500px;
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
}

#hiddencontent {
	position: absolute;
	top: 40%;
	left: 15%;
	width: 750px;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}

#aboutme {
	position: absolute;
	font-family: arial, verdana, sans-serif;
	font-size: medium;
	color: white;
	text-align: center;
	width: 60%;
	top: 40%;
	left: 20%;
	background-color:rgba(0,0,0,.8);
	}

#aboutme h2 {
	padding: 15px;
	}

#aboutme a {
	color: white;
}
	
/*resume div styles */	
#resume {
	position: relative;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	margin: 50px 25px 100px 25px;
	text-align: left;
	}

#resume h1 {
	margin: -12px;
	margin-top: -35px;
	margin-bottom: 15px;
	font-size: 32px;
	}
	
#resume ul {
	margin-left: 25px;
	}

.resumecategory {
	border-bottom: 2px solid black;
	margin-bottom: 5px;
	}
	
#resume ul {
	margin-left: 25px;
	}
	
#resumeeducation span {
	font-weight: bold;
	}
	
#resumeheader {
	text-align: center;
	font-size: 115%;
	font-weight: bold;
	}
	
#resumeheader span {
	font-size: 80%;
	font-style: normal;
	}

#resumeexperience h5 {
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	}

#resumeemployment p {
	margin-left: 25px;
	}

/* portfolio div styles */
#portfolio {
	position: relative;
	font-family: arial, verdana, sans-serif;
	font-size: medium;
	margin: 15px;
	text-align: left;
	}
	
#portfolio img {
	padding: 4px;
	border: 2px outset black;
	background-color: white;
	}

.portfoliosection  {
	border-right: 1px dashed black;
	/* border-bottom: 1px dashed black;
	border-top: 1px dashed black;*/
	width: 650px;
	clear: both;
	}

.portfoliosubtitle {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	float: right;
	position: relative;
	right: -68px;
	top: -273px;
}
	

.webdesigndesc {
	width: 600px;
	margin-bottom: 15px;
	clear: both;
	}

.webdesigndesc a {
	float: left;
	clear: both;
	margin-right: 8px;
	margin-bottom: 15px;
	}

.websubtitle {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	float: right;
	position: relative;
	right: -11px;
	top: -300px;
}

.wdesignsubtitle {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	float: right;
	position: relative;
	right: -21px;
	top: -290px;
}

/* social media div styles */	
#socialmedia {
	position: relative;
	font-family: arial, verdana, sans-serif;
	font-size: medium;
	margin: 15px;
	text-align: left;
	clear: both;
	}

.smedia {
	float: left;
	
	}
	
/* Menu and nav bar items CSS styles*/
/* Dynamic elements modified from Tutorialzine tutorial: http://tutorialzine.com/2010/06/css3-minimalistic-navigation-menu/ */

#menu {
	position:fixed;
	/*background-color: rgba(193, 193, 193, 0.3);
	border:1px solid;
	width:90px;
	height: 300px;
	z-index:100;*/
	top: 40%;
}

#nav a {
	height:38px;
	width:38px;
	display:block;
	position:relative;
	color: black;
	text-decoration: none;
	font-size: 200%;
	text-align: center;
	vertical-align: center;
	font-style: bold;
	font-family: "Miller Headline Bold","Times New Roman","Times","Georgia","serif";
}

#nav li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#nav span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;
	z-index: 1000;

	/* Text properties */
	font-family:"Miller Headline Bold","Times New Roman","Times","Georgia","serif";
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	color: white;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#nav a:hover span{ 
	width:auto; 
	padding:0 20px;
	overflow:visible; 
}
	
#nav a:hover{
	text-decoration:none;
	
	
	/* CSS outer glow with the box-shadow property 
	-moz-box-shadow:0 0 5px gray;
	-webkit-box-shadow:0 0 5px gray;
	box-shadow:0 0 5px gray;*/
}

#nav .button {	
	background-position:0 0;
	background-color: white;
	}
	
#nav .button:hover {	
	background-position:0 -39px;
	background-color: black;
	color: white;
	}

#nav .button span{
	background-color: white;
	color: black;
	/*text-shadow:1px 1px 0 #99bf31;*/
}