nav, footer{
	background-color: #330000;
	margin: auto;
	text-align: center;
	clear: both;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #996633;
					}

li {
	list-style-type: none;
	padding-left: 25px;
	display: inline;
}

ul {
	margin: 1px;
}


h3 {
	color: #330000;
	font-family: Gill Sans, sans-serif;
}

.footer-text {
	color: #996633;
}

footer {
	padding: 40px 0px 40px 0px;
	margin-top: 25px;
}

#navbar {
	padding: 5px 0px 2px 0px;
}

article {
	float: left;
	width: 46%;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
}

#article-text {
	width: 80%;
	margin: auto;
}

#site-title {
	text-align: center;
	width: 25px;
	margin: auto;
}
